div#container {
    min-width: 500px;
    font: normal 11px "Lucida Grande";
}
table#browser {
    width: 100%;
    border: 1px solid #bbb;
}
table#browser a {
    display: block;
    padding: 4px;
    text-decoration: none;
    color: #666;
}
table#browser tr {
    vertical-align: top;
}

td#sourceCell {
    border-right: 1px solid #ddd;
}
div#sources {
    width: 150px;
    margin: 0;
    padding: 0;
}
div#sources h2 {
    margin: 0;
    padding: 4px;
    color: #fff;
    background: #bbb;
    font: normal 11px "Lucida Grande";
    font-weight: bold;
}
div#sources p {
    margin: 0;
    padding: 3px;
}
div#sources ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div#sources li {
    margin: 0;
    padding: 0;
}
div#sources li a {
    padding: 3px;
    color: #bbb;
    background: #fff;
    overflow: hidden;
    white-space: nowrap;
}
div#sources li a.online {
    font-weight: bold;
}
div#sources li a.playdar_capable {
    color: #6ea31e;
}
div#sources li a.playdar_enabled {
    color: #335507;
}
div#sources li:nth-child(odd) a {
    background: #EBFBFF;
}
div#sources li a:hover {
    background: #EAEAEA;
}

table#browser td.pane ol {
    height: 200px;
    overflow: auto;
    margin: 0;
    padding: 0;
}
table#browser th {
    text-align: left;
}
table#browser th a {
    color: #fff;
    background: #bbb;
}
table#browser td.pane li {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}
table#browser td.pane li:nth-child(odd) a {
    background: #EBFBFF;
}
table#browser td.pane li.selected a {
    background: #C0ECFF;
    color: #222;
}
table#browser td.pane td a:hover,
table#browser td.pane ol a:hover {
    background: #EAEAEA;
}
#artistPane {
    width: 50%;
    border-right: 1px solid #bbb;
}
#artists {
    position: relative;
}
div.progress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
}
#albumPane {
    width: 50%;
}
#albums {
    position: relative;
}
#albumsLoading {
    display: none;
}
#chooseAlbum {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -15px;
    text-align: center;
    font-size: 18px;
    height: 30px;
}
#trackPane {
    border-top: 1px solid #bbb;
    width: 50%;
}
#tracks {
    position: relative;
    overflow: auto;
    min-height: 20px;
    max-height: 400px;
}
#tracksLoading {
    display: none;
}
table#trackTable {
    width: 100%;
}
table#trackTable td,
table#trackTable th,
#albumHead {
    position: relative;
    border-left: 1px solid #ddd;
}
table#trackTable tr:hover td a {
    background: #EAEAEA;
}
table#trackTable tr:nth-child(odd) td {
    background: #EBFBFF;
}
table#trackTable th.play,
table#trackTable td.play {
    width: 10px;
    border-left: 0;
}
table#trackTable td.play a {
    width: 10px;
    text-align: center;
}
table#trackTable span.resolving,
table#trackTable span.resolved,
table#trackTable tr.resolving span.notFound,
table#trackTable tr.resolved span.notFound {
    display: none;
}
table#trackTable tr.resolving span.resolving,
table#trackTable tr.notFound span.notFound,
table#trackTable tr.resolved span.resolved {
    display: inline;
}
table#trackTable tr.resolved a {
    color: #222;
}
table#trackTable tr.playing a {
    background: #C0ECFF;
}