body {
    margin: 0;
    padding: 0 10px 10px 10px;
}
a {
    color: #1B2E99;
}
a:hover {
    color: #2647FF;
}

div#container {
    min-width: 500px;
    font: normal 11px "Lucida Grande";
}

/* Landing */
div#landing {
    display: none;
    opacity: 0;
    position: relative;
    width: 600px;
    margin: 100px auto;
    padding: 50px;
    background: #D5DBD5;
    font: normal 30px "Georgia";
}
div#landing a.importCancel {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18px;
}

form#import {
    line-height: 30px;
}
form#import p {
    margin: 0 0 15px 0;
    padding: 0;
}
form#import img.bullet {
    float: left;
    margin: 10px 10px 0 -26px;
}
form#import input {
    padding: 3px;
    font: normal 20px "Georgia";
}
form#import input[type=text] {
    font-family: "Arial";
    letter-spacing: 0.02em;
}

ul#benefits {
    margin: 25px 0 0 0;
    padding: 0;
    font-size: 18px;
    color: #5A6B4B;
}
ul#benefits li {
    margin: 0 0 7px 0;
    padding: 0;
    list-style-position: outside;
    list-style-type: square;
}

/* Player */
div#player {
    display: none;
    opacity: 0;
}

/* Status head */
div#statusHead {
    display: none;
    height: 16px;
    padding: 5px;
    background: #D5DBD5;
    font-size: 12px;
    line-height: 17px;
}
div#statusHead a {
    text-decoration: none;
}
div#statusHead a:hover {
    text-decoration: underline;
}
div#statusHead small {
    font-size: 11px;
}
div#statusHead a#clearCookies {
    display: none;
    float: right;
}
div#statusHead a#lastfmUser {
}
div#statusHead img {
    margin-right: 5px;
    float: left;
}

/* Footer */
p#footer {
    
}

/* Browser */
table#browser {
    width: 100%;
    border: 1px solid #aaa;
}
table#browser a {
    display: block;
    padding: 3px 5px;
    text-decoration: none;
    color: #222;
}
table#browser tr {
    vertical-align: top;
}

/* Sources */
td#sourceCell {
/*    border-right: 1px solid #ddd;*/
}
div#sources {
    display: none;
    width: 150px;
    margin: 0;
    padding: 0;
}
div#sources h2 {
    margin: 0;
    padding: 3px 5px;
    color: #fff;
    background: #aaa;
    font: normal 11px "Lucida Grande";
    font-weight: normal;
}
div#sources p {
    margin: 0;
    padding: 3px 5px;
}
div#sources ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div#sources li {
    margin: 0;
    padding: 0;
}
div#sources li a {
    padding: 3px 5px;
    color: #aaa;
    background: #fff;
    overflow: hidden;
    white-space: nowrap;
}
div#sources li a.online {
    font-weight: bold;
}
div#sources li a.playdar_capable {
    color: #6ea31e;
}
div#sources li a.playdar_enabled {
    color: #335507;
}
div#sources li a:hover {
/*    background: #EAEAEA;*/
}

/* Pane lists */
table#browser td.pane ol {
    height: 200px;
    overflow: auto;
    margin: 0;
    padding: 0;
}
table#browser th {
    font-weight: normal;
    text-align: left;
}
table#browser th a {
    color: #fff;
    background: #aaa;
}
table#browser td.pane li {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}
table#browser td.pane li.selected a {
    background: #3D80DF;
    color: #FFF;
}
table#browser td.pane td a:hover,
table#browser td.pane ol a:hover {
/*    background: #EAEAEA;*/
}
#artistPane {
    width: 50%;
    border-right: 1px solid #aaa;
}
#artists {
    position: relative;
}
div.progress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
}
#albumPane {
    width: 50%;
}
#albums {
    position: relative;
}
#albumsLoading {
    display: none;
}
#chooseAlbum {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -15px;
    text-align: center;
    font: normal 20px "Georgia";
    height: 30px;
}
#trackPane {
    border-top: 1px solid #aaa;
    width: 50%;
}
#tracks {
    position: relative;
    overflow: auto;
    min-height: 42px;
    max-height: 400px;
}
#tracksLoading {
    display: none;
    margin-top: 1px;
}
table#trackTable {
    width: 100%;
}
tbody#trackTableBody {
}
tbody#trackTableBody a {
    color: #666;
}
table#trackTable th,
tbody#trackTableBody td,
#albumHead {
    position: relative;
    border-left: 1px solid #ddd;
}
tbody#trackTableBody tr {
    display: none;
}
tbody#trackTableBody tr.show{
    display: table-row;
}
tbody#trackTableBody tr.playing td,
tbody#trackTableBody tr.paused td {
    border-color: #346dbe;
}
tbody#trackTableBody tr:hover td a {
/*    background: #EAEAEA;*/
}
tbody#trackTableBody tr:nth-child(odd) td {
    background: #f1f5fa;
}
table#trackTable th.play,
tbody#trackTableBody td.play {
    width: 10px;
    border-left: 0;
}
tbody#trackTableBody td.play a {
    width: 10px;
    text-align: center;
}
tbody#trackTableBody span.resolving,
tbody#trackTableBody span.resolved,
tbody#trackTableBody tr.resolving span.notFound,
tbody#trackTableBody tr.resolved span.notFound {
    display: none;
}
tbody#trackTableBody tr.resolving span.resolving,
tbody#trackTableBody tr.notFound span.notFound,
tbody#trackTableBody tr.resolved span.resolved {
    display: inline;
}
tbody#trackTableBody tr.resolved a {
    color: #222;
}
tbody#trackTableBody tr.playing a,
tbody#trackTableBody tr.paused a {
    background: #3D80DF;
    color: #fff;
}
tbody#trackTableBody tr.error a {
    background: #ADAFAB;
    color: #222;
}